<%- include('common/header')-%>
<div style="margin-left: 30%; margin-right: 30%; margin-top: 0%;">
<% if(message!=''){%>



<div class="alert alert-danger">
<%= message %>
</div>
<% }%>



    <form  method="post" action="/login-user">
        <div class="mb-3 ">
          <label for="exampleInputEmail1" class="form-label">user name</label>
          <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
         
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/add"><button type="button" class="btn btn-dark ">Add user</button></a>
      </form>
    </div>
      <%- include('common/footer')-%>

     


